<% if @quizzes %>
  <ul class="media-list">
    <% @quizzes.each do |quiz| %>
      <li class="media">
        <div class="media-body">
          <h2><%= link_to quiz.name, quiz %></h2>
          <% unless quiz.publish %>
            <span class="label label-warning">Unpublished</span>
          <% end %>
          <p><%= quiz.description %></p>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @quizzes %>
<% end %>
