<% if @quizzes %>
  <div class="ui very relaxed list">
    <% @quizzes.each do |quiz| %>
      <div class="item">
        <div class="content">
          <div class="header">
            <h2><%= link_to quiz.name, quiz %></h2>
          </div>
          <% unless quiz.publish %>
            <p class="unpublished">Unpublished</p>
          <% end %>
          <div class="description">
            <p><%= quiz.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @quizzes %>
<% end %>
