<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Quizzes" %>
<% elsif params[:filter] == 'draft' %>
  <% title "Draft Quizzes" %>
<% else %>
  <% title "Quizzes" %>
<% end %>

<% if policy(Quiz).new? %>
  <%= link_to new_quiz_path,
    { class: 'btn btn-secondary', role: 'button' } do %>
    <%= fa_icon 'pencil' %> New Quiz
  <% end %>
<% end %>

<%= render 'list' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_url %></li>
  <li class="active">Quizzes</li>
</ol>
