<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Quizzes" %>
<% elsif params[:filter] == 'draft' %>
  <% title "Draft Quizzes" %>
<% else %>
  <% title "Quizzes" %>
<% end %>

<% if policy(Quiz).new? %>
  <div class="ui one item stackable menu">
    <%= link_to new_quiz_path, class: 'item' do %>
      <i class="write icon"></i> New Quiz
    <% end %>
  </div>
<% end %>

<%= render 'list' %>

<div class="ui breadcrumb">
  <%= link_to "Home", root_url, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Quizzes</div>
</div>
