<% if @poems %>
  <div class="ui very relaxed list">
    <% @poems.each do |poem| %>
      <div class="item">
        <div class="content">
          <div class="header">
            <h2><%= link_to poem.name, poem %></h2>
          </div>
          <% unless poem.publish %>
            <p class="unpublished">Unpublished</p>
          <% end %>
          <div class="description">
            <p><%= poem.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @poems %>
<% end %>
