<% if @poems %>
  <ul class="media-list">
    <% @poems.each do |poem| %>
      <li class="media">
        <div class="media-body">
          <h2><%= link_to poem.name, poem %></h2>
          <% unless poem.publish %>
            <span class="label label-warning">Unpublished</span>
          <% end %>
          <p><%= poem.description %></p>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @poems %>
<% end %>
