<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Poems" %>
<% elsif params[:filter] == 'draft' %>
  <% title "Draft Poems" %>
<% else %>
  <% title "Poems" %>
<% end %>

<% if policy(Poem).new? %>
  <div class="ui one item stackable menu">
    <%= link_to new_poem_path, class: 'item' do %>
      <i class="write icon"></i> New Poem
    <% end %>
  </div>
<% end %>

<%= render 'list' %>

<div class="ui breadcrumb">
  <%= link_to "Home", root_url, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Poems</div>
</div>
