<ul class="list-group">
  <li class="list-group-item">
    <%= link_to 'About the Site', '/about-the-site' %>
  </li>
  <li class="list-group-item">
    <%= link_to 'How to Contribute', '/how-to-contribute' %>
  </li>
  <li class="list-group-item">
    <%= link_to 'Copyright Information', '/copyright-information' %>
  </li>
</ul>
