<% if @downloads %>
  <div class="ui very relaxed list">
    <% @downloads.each do |download| %>
      <div class="item">
        <div class="content">
          <div class="header">
            <h2><%= link_to download.name, download %></h2>
          </div>
          <% unless download.publish %>
            <p class="unpublished">Unpublished</p>
          <% end %>
          <div class="description">
            <p><%= download.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @downloads %>
<% end %>
