<% if @downloads %>
  <ul class="media-list">
    <% @downloads.each do |download| %>
      <li class="media">
        <div class="media-body">
          <h2><%= link_to download.name, download %></h2>
          <% unless download.publish %>
            <span class="label label-warning">Unpublished</span>
          <% end %>
          <p><%= download.description %></p>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @downloads %>
<% end %>
