<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Downloads" %>
<% elsif params[:filter] == 'draft' %>
  <% title "Draft Downloads" %>
<% else %>
  <% title "Downloads" %>
<% end %>

<% if policy(Download).new? %>
  <div class="ui one item stackable menu">
    <%= link_to new_download_path, class: 'item' do %>
      <i class="upload icon"></i> New Download
    <% end %>
  </div>
<% end %>

<% unless params[:contributor_profile_id] or params[:filter] %>
  <% if @categories.present? %>
    <div class="ui segment">
      <h2>Download Categories</h2>
      <div class="ui relaxed list">
        <% @categories.each do |category| %>
          <div class="item">
            <div class="content">
              <div class="header">
                <%= link_to category.name, category %>
              </div>
              <% unless category.publish %>
                <span class="unpublished">Unpublished</span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @downloads.present? %>
    <h2>All Downloads</h2>
  <% end %>
<% end %>

<%= render 'list' %>
