<% if @articles %>
  <div class="ui very relaxed list">
    <% @articles.each do |article| %>
      <div class="item">
        <div class="content">
          <div class="header">
            <h2><%= link_to article.name, article %></h2>
          </div>
          <% unless article.publish == true %>
            <p class="unpublished">Unpublished</p>
          <% end %>
          <div class="description">
            <p><%= article.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @articles %>
<% end %>
