<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Articles" %>
<% elsif params[:filter] == 'draft' %>
  <% title "Draft Articles" %>
<% else %>
  <% title "Articles" %>
<% end %>

<% if policy(Article).new? %>
  <div class="ui one item stackable menu">
    <%= link_to new_article_path, class: 'item' do %>
      <i class="write icon"></i> New Article
    <% end %>
  </div>
<% end %>

<% unless params[:contributor_profile_id] or params[:filter] %>
  <% if @categories.present? %>
    <div class="ui segment">
      <h2>Article Categories</h2>
      <div class="ui relaxed list">
        <% @categories.each do |category| %>
          <div class="item">
            <div class="content">
              <div class="header">
                <%= link_to category.name, category %>
              </div>
              <% unless category.publish %>
                <span class="unpublished">Unpublished</span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @articles.present? %>
    <h2>All Articles</h2>
  <% end %>
<% end %>

<%= render 'list' %>
