<div id="information">
  <% if @encyclopaedia_entry.encyclopaedia_entry_picture_file_name.blank? %>
    <%= image_tag("sorry-no-image-embedded.jpg",
      alt: "Sorry No Image",
      width: "280",
      height: "280"
    ) %>
  <% else %>
    <%= encyclopaedia_entry_picture_tag @encyclopaedia_entry, :embedded %>
  <% end %>
  <%= raw markdown_to_html @encyclopaedia_entry.information %>
</div>
