<h2>Related Stories</h2>
<ul>
  <% @stories.each do |story| %>
    <li>
      <%= link_to story.name, story %>
      <% if !story.publish %>
        <span class="label label-warning">Unpublished</span>
      <% elsif !story.category.publish %>
        <span class="label label-warning">
          Published in Unpublished Category
        </span>
      <% end %>
    </li>
  <% end %>
</ul>
