<% if @videos %>
  <ul class="media-list">
    <% @videos.each do |video| %>
      <li class="media">
        <div class="media-body">
          <h2><%= link_to video.name, video %></h2>
          <% unless video.publish %>
            <span class="label label-warning">Unpublished</span>
          <% end %>
          <p><%= video.description %></p>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @videos %>
<% end %>
