<% if @videos %>
  <div class="ui very relaxed list">
    <% @videos.each do |video| %>
      <div class="item">
        <div class="content">
          <div class="header">
            <h2><%= link_to video.name, video %></h2>
          </div>
          <% unless video.publish %>
            <p class="unpublished">Unpublished</p>
          <% end %>
          <div class="description">
            <p><%= video.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @videos %>
<% end %>
