<% if @pages %>
  <ul class="media-list">
    <% @pages.each do |page| %>
      <li class="media">
        <div class="media-body">
          <h2><%= link_to page.name, page %></h2>
          <% unless page.publish %>
            <span class="label label-warning">Unpublished</span>
          <% end %>
          <p><%= truncated_text page.content %></p>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @pages %>
<% end %>
