<% if params[:filter] == 'draft' %>
  <% title "Draft Pages" %>
<% else %>
  <% title "Pages" %>
<% end %>

<% if policy(Page).new? %>
  <div class="ui one item stackable menu">
    <%= link_to new_page_path, class: 'item' do %>
      <i class="write icon"></i> New Page
    <% end %>
  </div>
<% end %>

<%= render 'list' %>
