<% if params[:filter] == 'draft' %>
  <% title "Draft Pages" %>
<% else %>
  <% title "Pages" %>
<% end %>

<% if policy(Page).new? %>
  <%= link_to new_page_path,
    { class: 'btn btn-secondary', role: 'button' } do %>
    <%= fa_icon 'pencil' %> New Page
  <% end %>
<% end %>

<%= render 'list' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_url %></li>
  <li class="active">Pages</li>
</ol>
