<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Links" %>
<% else %>
  <% title "Links" %>
<% end %>

<% if policy(Link).new? %>
  <div class="ui one item stackable menu">
    <%= link_to new_link_path, class: 'item' do %>
      <i class="linkify icon"></i> New Link
    <% end %>
  </div>
<% end %>

<% unless params[:contributor_profile_id] %>
  <% if @categories.present? %>
    <div class="ui segment">
      <h2>Link Categories</h2>
      <div class="ui relaxed list">
        <% @categories.each do |category| %>
          <div class="item">
            <div class="header">
              <%= link_to category.name, category %>
            </div>
            <% unless category.publish %>
              <span class="unpublished">Unpublished</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @links.present? %>
    <h2>All Links</h2>
  <% end %>
<% end %>

<%= render 'list' %>
