<% if @stories %>
  <div class="ui very relaxed list">
    <% @stories.each do |story| %>
      <div class="item">
        <div class="content">
          <div class="header">
            <h2><%= link_to story.name, story %></h2>
          </div>
          <% unless story.publish %>
            <p class="unpublished">Unpublished</p>
          <% end %>
          <div class="description">
            <p><%= story.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @stories %>
<% end %>
