<% if @stories %>
  <ul class="media-list">
    <% @stories.each do |story| %>
      <li class="media">
        <div class="media-body">
          <h2><%= link_to story.name, story %></h2>
          <% unless story.publish %>
            <span class="label label-warning">Unpublished</span>
          <% end %>
          <p><%= story.description %></p>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @stories %>
<% end %>
