<% if @resources %>
  <ul class="media-list">
    <% @resources.each do |resource| %>
      <li class="media">
        <div class="media-body">
          <h2><%= link_to resource.name, resource %></h2>
          <% unless resource.publish %>
            <span class="label label-warning">Unpublished</span>
          <% end %>
          <p><%= truncated_text resource.content %></p>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @resources %>
<% end %>
