<% if categories.present? %>
  <div class="ui relaxed list">
    <% categories.each do |category| %>
      <% if policy(category).show? %>
        <div class="item">
          <div class="content">
            <%= link_to category.name, category %>
            <% unless category.publish %>
              <span class="unpublished">Unpublished</span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
