<% if category_groups.present? %>
  <div class="ui segments">
    <% category_groups.each do |category_group| %>
      <% if policy(category_group).show? %>
        <div class="ui segment">
          <h3><%= category_group.name %></h3>
          <% if policy(category_group).edit? or 
            policy(category_group).destroy? %>
            <div class="ui two item stackable menu">
              <% if policy(category_group).edit? %>
                <%= link_to edit_category_group_path(category_group), 
                  class: 'item' do %>
                  <i class="configure icon"></i> Edit Category Group
                <% end %>
              <% end %>
              <% if policy(category_group).destroy? %>
                <%= link_to category_group, data: { confirm: "Are you sure " +
                  "you want to delete the category group " +
                  category_group.name + "?" }, method: :delete, 
                  class: 'item' do %>
                  <i class="trash icon"></i> Delete Category Group
                <% end %>
              <% end %>
            </div>
          <% end %>
          <%= render partial: 'site_map/categories', locals: {
            categories: category_group.categories.order(:name) } %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
