<% if @pictures %>
  <ul class="media-list">
    <% @pictures.each do |picture| %>
      <li class="media">
        <div class="media-left">
          <%= link_to picture_tag(picture, :thumbnail), picture %>
        </div>
        <div class="media-body">
          <h2><%= link_to picture.name, picture %></h2>
          <% unless picture.publish %>
            <span class="label label-warning">Unpublished</span>
          <% end %>
          <p><%= picture.description %></p>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @pictures %>
<% end %>
