<% if @pictures %>
  <div class="ui very relaxed list">
    <% @pictures.each do |picture| %>
      <div class="item">
        <%= link_to picture_tag(picture, :thumbnail), picture,
          class: "ui medium rounded image" %>
        <div class="content">
          <div class="header">
            <h2><%= link_to picture.name, picture %></h2>
          </div>
          <% unless picture.publish %>
            <p class="unpublished">Unpublished</p>
          <% end %>
          <div class="description">
            <p><%= picture.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @pictures %>
<% end %>
