<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Pictures" %>
<% elsif params[:filter] == 'draft' %>
  <% title "Draft Pictures" %>
<% else %>
  <% title "Pictures" %>
<% end %>

<% if policy(Picture).new? %>
  <div class="ui one item stackable menu">
    <%= link_to new_picture_path, class: 'item' do %>
      <i class="upload icon"></i> New Picture
    <% end %>
  </div>
<% end %>

<% unless params[:contributor_profile_id] or params[:filter] %>
  <% if @category_groups.present? %>
    <div class="ui segment">
      <h2>Picture Categories</h2>
      <%= render partial: 'site_map/category_groups', locals: {
        category_groups: @category_groups } %>
    </div>
  <% end %>
  <% if @pictures.present? %>
    <h2>All Pictures</h2>
  <% end %>
<% end %>

<%= render 'list' %>

<div class="ui breadcrumb">
  <%= link_to "Home", root_url, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Pictures</div>
</div>
