<fieldset>
  <%= f.label :content %>
  <%= f.text_area :content, rows: 15, class: 'data_entry form-control' %>
  <small class="text-muted">
    You may use a <a href="/markdown-syntax-guide" target="_blank">limited
    subset of Markdown</a> to format the content.
  </small>
</fieldset>
