<fieldset>
  <%= f.label :information, 'Extra Information' %>
  <%= f.text_area :information, rows: 10, class: 'form-control' %>
  <small class="text-muted">
    You may use a <a href="/markdown-syntax-guide" target="_blank">limited
    subset of Markdown</a> to format the extra information.
  </small>
</fieldset>
