<fieldset>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  <small class="text-muted">
    Please refer to the <a href="/naming-convention" target="_blank"> naming
    convention guide</a> when choosing a name.
  </small>
</fieldset>
