<% if @categories %>
  <ul class="media-list">
    <% @categories.each do |category| %>
      <li class="media">
        <div class="media-body">
          <h2><%= link_to category.name, category %></h2>
          <% unless category.publish %>
            <span class="label label-warning">Unpublished</span>
          <% end %>
          <p><%= category.description %></p>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
