<h2>Related Downloads</h2>
<ul>
  <% @downloads.each do |download| %>
    <li>
      <%= link_to download.name, download %>
      <% if !download.publish %>
        <span class="label label-warning">Unpublished</span>
      <% elsif !download.category.publish %>
        <span class="label label-warning">
          Published in Unpublished Category
        </span>
      <% end %>
    </li>
  <% end %>
</ul>
