<% if @news_entries %>
  <div class="ui relaxed list">
    <% @news_entries.each do |news_entry| %>
      <div class="item">
        <div class="content">
          <div class="header">
            <h2><%= link_to news_entry.name, news_entry %></h2>
          </div>
          <% unless news_entry.publish %>
            <p class="unpublished">Unpublished</p>
          <% end %>
          <p><%= truncated_text news_entry.content %></p>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @news_entries %>
<% end %>
