<% if @news_entries %>
  <ul class="media-list">
    <% @news_entries.each do |news_entry| %>
      <li class="media">
        <div class="media-body">
          <h2><%= link_to news_entry.name, news_entry %></h2>
          <% unless news_entry.publish %>
            <span class="label label-warning">Unpublished</span>
          <% end %>
          <p><%= truncated_text news_entry.content %></p>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @news_entries %>
<% end %>
